trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: Docker@2
  inputs:
    containerRegistry: 'DockerHub'
    repository: 'ferozuddin/nginx-demo'
    command: 'buildAndPush'
    Dockerfile: '**/Dockerfile'
    tags: latest
