trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: Docker@2
  displayName: Build and Push Docker Image
  inputs:
    containerRegistry: 'dockerhub-connection'
    repository: 'ferozuddin/nginx-demo'
    command: 'buildAndPush'
    Dockerfile: '**/Dockerfile'
    tags: |
      latest
